{% extends '_base.html' %}
{% load static %}

{% block tilte %}Home{% endblock tilte %}

{% block content %}
<h1>Homepage</h1>
<img class="bookcover" src="{% static 'images/djangoforprofessionals.jpg' %}">
</br>
{% if user.is_authenticated %}
    Hi {{ user.email }}
    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
    <p>Your are not logged in</p>
    <a href="{% url 'account_login' %}">Log in</a>
    <a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}